<div class="container">
  <h1>Update your weather event</h1>
  <%= render "edit_weather_event_form", weather_event: @weather_event %>
</div>
<div class="container">
  <%= link_to "back to the weather event", weather_event_path(@weather_event) %>
</div>
