<div class="my-5"></div>
<div class="container">
  <h1>All Weather Events</h1>
    <%= render "shared/card" %>
      <div class="m-5">
        <%= link_to "Create a New Weather Event", new_weather_event_path, class: "btn-weather" %>
      </div>
</div>
