<h1>All Weather Events</h1>
<div class="container">
  <ul>
    <% @weather_events.each do |event| %>
      <li><%= link_to event.description, weather_event_path(event) %></li>
    <% end %>
  </ul>
</div>
