<div class="container">
  <h1><%= @weather_event.description %></h1>
  <img alt="Le Wagon" width="200" src="/assets/<%= @weather_event.image_url %>">

  <p>Temperature: <%= @weather_event.temperature %></p>
  <p>Category: <%= @weather_event.category %></p>
</div>
