<div class="container">

  <h3>Update Your Weather!</h3>
   <div class="form-inputs">
    <%= simple_form_for([@weather_event, @booking]) do |f| %>
    <%= f.input :date %>
    <%= f.input :location %>
    <%= f.submit 'Update this Weather!', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
