<div class="my-5"></div>
<div class="container">
  <h1>Here's your booking...get excited!</h1>
  <p>Location: <%= @booking.location %></p>
  <p>Date: <%= @booking.date %></p>
  <p>Status: <%= @booking.status %></p>
</div>

<%= link_to "Edit this Booking", edit_booking_path(@booking) %>
