<div class="card-product">
  <img src="<%= image_url %>" />
  <div class="card-product-infos">
    <h2><%= @weather_event.description %></h2>
    <p>Temperature: <%= @weather_event.temperature %></p>
    <p>Catergory: <%= @weather_event.category %></p>
  </div>
</div>
