<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url(ambien-banner-pic.jpg);">
  <div class="container">
    <h1>Ambient</h1>
    <p>Atmosphere On Demand</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
