.btn-weather{
color: grey;
// position: absolute;
top:50%;
background-color:#0a0a23;
color: #fff;
border:none;
border-radius:10px;
padding:15px;
min-height:30px;
min-width: 120px;
margin: 30px;
text-decoration: none;
}

#btn-card{
margin: 16px;
display: block;
text-align: center;
}
